
{% extends "accounts/base.html" %}
<html>
    <body> 
        {% block body %}
        <div class="container">
        <br>
        <br>
        <h3><b>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</b></h3>

            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
    
                    <button type="submit">Reset my password?</button>
                </form>
            </div>
        </div>
        {% endblock %}
        
    </body>
</html> 